body {
  background: rgb(214, 222, 255);
  background: linear-gradient(
    90deg,
    rgba(214, 222, 255, 1) 0%,
    rgba(237, 241, 255, 0.2637429971988795) 51%,
    rgba(255, 255, 255, 1) 100%
  );
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  .user-bar-container {
    display: flex;
    justify-content: space-between;
  }
}
.status {
  &-online {
    color: rgb(33, 107, 255);
  }
  &-offline {
    color: rgb(159, 159, 159);
  }
}
.loader {
  display: flex;
  justify-content: center;
}
.logout-btn {
  margin-left: 10px;
}

@media screen and(min-width: 992px) {
  .user-bar-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
  }
  .container {
    position: relative;
  }
}
@media screen and(max-width: 767px) {
  td,
  th {
    font-size: 14px;
  }
}
